<div>
    <input type="text" id="messageInput" placeholder="Escribe tu mensaje">
    <button id="sendMessageButton">Enviar</button>
</div>
<div id="messageContainer">
    <!-- Aquí se mostrará el mensaje -->
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>